*{scroll-behavior: smooth}

body{ height: 350rem;
background-image: url('../img/background.png');
}


.container{position: absolute; top: 0;
  background-color: rgba(0,0,0,0.8);
  height: 370rem;width: 100%;
  left: 0px;
}

#Left {
  width: 33.3333%;
  height : 370rem;
  float: left;
  background-color: rgba(0,0,0,0);
}
#Middle {
  width: 32%;
  height : 370rem;
  float: left;
  background-color: #fff7c2;
}
#Right {
  width: 33.3333%;
  height : 370rem;
  float: left;
  background-color: rgba(0,0,0,0);
}

#Elevator{
  position: fixed;
}

#Eimg {
  display: block;
  margin: auto;
  width: 50%;
}

#button {
  border: 0.5px solid white;
  position: fixed; top : 6rem; right: 15%;
}

table {
  width: 100%;
  text-align: center;
}
.button {width: 5rem;}

.hallway {
  clear: both;
  text-align : center;
  justify-content: center;
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.sign {
  position: relative;
  width: 33.333%;
  margin: 33.333%;
}

#top {
    background-image: url("../img/1.png");
    background-size: auto 90%;
}
#B1 {
  margin-top: 50rem;
  background-image: url("../img/B1.png");
  background-size: auto 90%;
}
#B2 {
  margin-top: 60rem;
  background-image: url("../img/B2.png");
  background-size: auto 90%;
}
#block { opacity: 0;}
#block:hover {}

#B3 {
  margin-top: 40rem;
  background-image: url("../img/B3.png");
  background-size: auto 90%;
}
#B4 {
  margin-top: 50rem;
  background-image: url("../img/B4.png");
  background-size: auto 90%;
}

@media all and (max-width : 1200px){
  #button { position: fixed; top : 5rem; right:10%}
  .button { width: 4rem;}
  #B1, #B2, #B3, #B4 {margin-top: 20rem;}
}
@media all and (max-width : 800px){
  #button { position: fixed; top : 4rem; right:5%}
  .button { width: 3rem;}
}
